chroma-hnswlib==0.7.6
chromadb==0.5.20
debugpy==1.8.7
google-ai-generativelanguage==0.6.10
google-generativeai==0.8.3
langchain==0.3.9
langchain-chroma==0.1.4
langchain-community==0.3.8
langchain-core==0.3.21
langchain-google-genai==2.0.4
langchain-openai==0.2.6
langchain-text-splitters==0.3.2
streamlit==1.40.2
pysqlite3==0.5.4
